<app-top-navigation></app-top-navigation>
<div class="c2">
  <div class="container-fluid">
    <div class="row M0">
      <div class="offset-3 col-6">
        <div class="MTB15">
          <form [formGroup]="addExpenseForm" (ngSubmit)="createExpense()">
            <div class="form-group">
              <mat-form-field class="full-width-field MR4">
                <mat-label>Expense Name</mat-label>
                <input matInput formControlName="expenseName" type="text" placeholder="Enter Group Name"
                  autocomplete="off" />
                <mat-error *ngIf="addExpenseForm.controls.expenseName.hasError('required')">
                  Expense Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            </div>
            <div class="form-group">
              <mat-form-field class="full-width-field MR4">
                <mat-label class='description'>Amount</mat-label>
                <input matInput formControlName="amount" type="number" placeholder="Ex: 5000 INR" autocomplete="off" />
                <mat-error *ngIf="addExpenseForm.controls.amount.hasError('required')">
                  Amount <strong>required</strong>
                </mat-error>
              </mat-form-field>

            </div>
            <div class="form-group" class="full-width-field MR4">

              <mat-label>Paid By:</mat-label>
              <ng-multiselect-dropdown [placeholder]="'Select Users to Add'" [data]="allUsers"
                [settings]="dropdownSettings1" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                formControlName="expensePaidBy">
              </ng-multiselect-dropdown>

            </div>
            <div class="form-group" class="full-width-field MR4">

              <mat-label>Expense to be split between:</mat-label>
              <ng-multiselect-dropdown [placeholder]="'Select Users to Add'" [data]="allUsers"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                formControlName="expenseUsersInvolved">
              </ng-multiselect-dropdown>

            </div>

            <div class="form-group" class="full-width-field MR4">

              <mat-label>category</mat-label>
              <ng-multiselect-dropdown [placeholder]="'Select a category to add'" [data]="category"
                [settings]="dropdownSettings1" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                formControlName="category">
              </ng-multiselect-dropdown>

            </div>

            <div class="flex-even">
              <button type="button" mat-raised-button color="default" (click)="resetForm()">Cancel</button>
              <button mat-raised-button color="primary" [disabled]="!addExpenseForm.valid" type="submit">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>