.cardBorder{
    box-shadow: 0 4px 8px 0 rgb(83, 3, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.form-field-container {
  display: flex;
  flex-direction: column;
}
  
.form-field-container > * {
  width: 80%;
  margin-left:3vw; 
}
