<app-top-navigation></app-top-navigation>
<div class="container-fluid MT50">
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Unread Notifications" (click)="Notifications()">
          <div class="container-fluid MTB15">
            <div class="row">
              <div class="col-12">
                <div class="card MTB15" *ngFor="let notification of unreadNotifications"
                  [ngStyle]="{'background-color': notification.isSeen ? 'greenyellow' : 'gainsboro'}">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <p>{{notification.notificationText}}</p>
                      </div>
                      <div class="col-4">
                        <button class="float-right" (click)="MarkNotificationSeen(notification.notifyId)"
                          mat-raised-button color="primary">
                          <span class="material-icons">
                            done
                          </span> Mark as read</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="All Notifications" (click)="Notifications()">
          <div class="container-fluid MTB15">
            <div class="row">
              <div class="col-12">
                <div class="card MTB15" *ngFor="let notification of allNotifications"
                  [ngStyle]="{'background-color': notification.isSeen ? 'greenyellow' : 'gainsboro'}">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p>{{notification.notificationText}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>