<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/groups']">Expense Split Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="" [routerLink]="['/groups']">Group</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-flex-end" id="navbar-list-4">
      <a class="notifAnchor" [routerLink]="['/notifications']">
        <span class="notificationIconPointer">{{notificationCount}}</span>
      <span class="material-icons icons">
        notifications_active
        </span>
        </a>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle flex-even" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="userName">Hey, {{isUserDataStored?.firstName}} {{isUserDataStored?.lastName}}</span>
            <span class="material-icons icons">
              person
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/my-profile']">My Profile</a>
            <a class="dropdown-item" href="#" *ngIf="isLoggedIn" (click)="logoutFunction()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>