<div class="container-fluid">
  <div class="row M0">
    <div class="col-12">
      <h1 class="signup1">Forgot Password</h1>
      <form class="signin" [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <mat-form-field class="full-width-field">
          <mat-label>Email</mat-label>
          <span class="material-icons" matSuffix>
            person_outline
          </span>
          <input matInput formControlName="email" placeholder="Ex. pat@example.com" autocomplete="off">
          <mat-error
            *ngIf="forgotForm.controls.email.hasError('email') && !forgotForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="forgotForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="text-center">
          <button mat-raised-button color="primary" class="btn MR15" type="submit"
            [disabled]="!forgotForm.valid">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
